html, body, p{
    margin: 0;
    padding: 0;
    position: relative;
    scroll-behavior: smooth;
    overflow-y: hidden;
    font-family: 'Ubuntu', sans-serif;
}

ul{
    list-style: none;
}

li{
    padding: 8px;
}

li::before{
    content: "» ";
}

::-webkit-scrollbar{
	width: .3rem;
	background-color: #1f1f1f;
}

::-webkit-scrollbar-thumb{
	border-radius: 20px;
	background-color: #aaa;
}

.activeBar{
    background-color: #FFF!important;
    color: #000!important;
    border-radius: 4px!important;
}

.pos-absolute{
    visibility: hidden;
    position: absolute;
    top: 0;
}

.pos-fixed{
    position: fixed;
    top: 0;
    transition: 1s ease-in;
}

#header-portfolio{
    color: #FFF;
    padding: 10px;
    z-index: 2;
}

#header-portfolio-one{
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F1F1F;
}

#header-portfolio-one a{
    font-family: 'Comfortaa', cursive;
    font-weight: 900;
    text-decoration: none;
    color: #FFF;
    letter-spacing: .2rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

#header-portfolio-two{
    height: 8vh;
    display: flex;
    padding: 0;
    background-color: #1F1F1F;
    z-index: 10000;
}

#header-portfolio-two a{
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    flex: 1 1 auto;
    border: 3px solid transparent;
}

#header-portfolio-two div.flex-fill{
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro{
    background: url('gifs/bg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: #C4B7A6;
    padding-bottom: 30px;
    text-transform: uppercase;
    text-shadow: 3px 3px #000;
}

.intro-hello{
    font-size: 3rem;
    font-weight: 700;
}

.intro-name{
    font-size: 2rem;
}

.intro-name span.name{
    font-size: 2.6rem;
    font-weight: 900;
}

.intro-status{
    font-size: 1rem;
}

.intro-status span.status{
    font-size: 1.6rem;
    font-weight: 900;
}

#about{
    background-color: #1f1f1f;
    height: 100vh;
    color: aliceblue;
    padding-top: 25vh;
}

#about-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-resume{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-resume a{
    margin: 5px 0;
}

#about-info{
    font-size: .9rem;
    display: flex;
    align-self: flex-end;
    justify-content: center; 
    margin-top: 20px;
}

.interlude{
    background: url('gifs/bg2.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 200vh;
}

#skills{
    background-color: #1f1f1f;
    height: 100vh;
    color: aliceblue;
    padding-top: 25vh;
}

#projects{
    /* background-color: #1f1f1f; */
    background: url('gifs/bg2.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    color: aliceblue;
    padding-top: 23vh;
}

#projects .projects{
    box-shadow: 0 0 1px 1px #fff;
    background: #1f1f1f;
    padding: 10px;
}

@media (min-width: 768px) {
    body{
        overflow-y: hidden;
    }
    
    #header-portfolio{
        padding: 0;
    }

    #header-portfolio-one{
        height: 11vh;
        justify-content: start;
    }

    #header-portfolio-one a{
        padding-left: 40px;
    }
    
    #header-portfolio-two{
        height: 11vh;
    }

    #intro{
        justify-content: center;
        height: 100vh;
    }

    .intro-hello{
        font-size: 5rem;
        font-weight: 700;
    }
    
    .intro-name{
        font-size: 3rem;
    }

    .intro-name span.name{
        font-size: 3.6rem;
        font-weight: 900;
    }

    .intro-status{
        font-size: 2rem;
    }
    
    .intro-status span.status{
        font-size: 2.6rem;
        font-weight: 900;
    }

    #about{
        padding-top: 15vh;
    }

    #about-image{
        margin-top: 80px;
    }
    
    #about-resume{
        display: inline;
        text-align: left;
    }

    #about-info{
        font-size: 1.1rem;
        margin-bottom: 20px;
    }

    #skills{
        padding-top: 15vh;
    }

    #projects{
        padding-top: 17vh;
    }

    #projects .projects{
        margin: 0 20px!important;
        padding: 30px 20px;
        border: 1px solid #000;
        box-shadow: 0 0 1px 1px #444;
    }

    #projects .projects .secondImg{
        display: none;
    }

    #projects .projects:hover{
        box-shadow: 0 0 3px 3px #fff;
        transform: scale(1.01)
    }

    #projects .projects .hoverbox:hover .firstImg{
        display: none;
    }

    #projects .projects .hoverbox:hover .secondImg{
        display: block;
    }
}